# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
        . ~/.bashrc
fi

# User specific environment and startup programs

export PATH=$PATH:$HOME:/usr/pgsql-{{ postgres_major_version }}.{{ postgres_minor_version }}/bin:.
export PGBASE=/pgsqldata_{{ appli.code }}/{{ postgres_major_version }}.{{ postgres_minor_version }}
export PGDATA=$PGBASE/pg_data
export PGDATABASE=postgres
export PGUSER=postgres
export PGPORT={{ postgresql_port }}

export PS1='\u@\h:\w\$ '

stty erase ^?

alias tool{{ appli.code }}='cd /exploit/tool/postgres/{{ postgres_major_version }}.{{ postgres_minor_version }}/dba/{{ appli.code }}/'
alias data{{ appli.code }}='cd /pgsqldata_{{ appli.code }}/{{ postgres_major_version }}.{{ postgres_minor_version }}/pg_data'
alias log{{ appli.code }}='cd /pgsqldata_{{ appli.code }}/{{ postgres_major_version }}.{{ postgres_minor_version }}/pg_log'
alias xlog{{ appli.code }}='cd /pgsqldata_{{ appli.code }}/{{ postgres_major_version }}.{{ postgres_minor_version }}/pg_xlog'