{
  "general": {
    "template_use_cow": "{{ util_template_use_cow }}",
    "package_state": "{{ util_package_state }}",
    "persistent_data_path": "{{ util_persistent_data_path_remote }}"
  },
  "init": {
    "system": "{{ util_init_system|default(util_init_system_default) }}",
    "service_dir": "{{ util_init_service_dir|default(util_init_service_dir_default) }}",
    "service_mode": "{{ util_init_service_mode|default(util_init_service_mode_default) }}"
  },
  "modules": {
{% if ansible_os_family in ('Debian') %}
    "apt": {
      "cache_valid_time": "{{ util_apt_cache_valid_time }}"
    },
{% endif %}
    "get_url": {
      "timeout": "{{ util_module_get_url_timeout }}"
    },
    "service": {
      "manage": "{{ util_module_service_manage }}",
      "allow_reload": "{{ util_module_service_allow_reload }}",
      "allow_restart": "{{ util_module_service_allow_restart }}"
    }
{% if ansible_os_family in ('RedHat') %}
  },
  "epel": {
    "enable": "{{ 'true' if util_epel_enable else 'false' }}"
  }
{% else %}
  }
{% endif %}
}
